body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #17142f; 
    color: #fc2727;
    font-family: Arial, sans-serif;
}
  
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* Thiết lập cho màn hình nhỏ (điện thoại) */
@media (max-width: 768px) {
body {
    font-size: 1.5em;
}
}


#message {
    text-align: center;
}

#fortune-button {
    margin-top: 20px; 
    padding: 10px 20px; 
    font-size: 1rem;
    color: #fff; 
    background-color: #ff5733;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    display: inline-block; 
}

#fortune-button:hover {
    background-color: #c13d27; 
}

